# File: docs/requirements.txt

# Defining the exact version will make sure things don't break
sphinx==4.1.2
sphinx_rtd_theme==0.5.2
readthedocs-sphinx-search==0.1.0
docutils==0.16
numpy
scipy
matplotlib
emcee
corner
hyperion
h5py
Cython
astropy
schwimmbad
dynesty
scikit-learn
